.footer-text {
  font-size: 12px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  color: #4B4B4D;
  background-color: #E1E2E6;
  border-top: 1px solid #B3B3B3;
}
