NODE_ENV="development"

# If using Heroku for deployment, uncomment this line:
#DB_SSL_DISABLED="true"

CHALLENGE_URL="https://your-sponsor-challenge.com"

# Only uncomment and use these if you have a custom user/pass for your Postgres Server
#PGUSER=""
#PGPASSWORD=""
