{
  "env": {
    "es6": true,
    "jest": true
  },
  "ignorePatterns": ["dist", "node_modules", "**/*.js"],
  "rules": {
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/no-require-imports": ["error"],
    "@typescript-eslint/no-explicit-any": ["error"],
    "@typescript-eslint/no-non-null-assertion": ["error"],
    "curly": ["error"],
    "import/prefer-default-export": ["off"],
    "no-void": ["error", { "allowAsStatement": true }],
    "no-await-in-loop": ["off"],
    "max-lines": ["error", 100],
    "no-plusplus": ["error"],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["**/dist/**", "!/**/*.css"],
            "message": "Don't import from `dist` directories"
          },
          {
            "group": [
              "**/web/src/**",
              "**/api/src/**",
              "**/shared/src/**",
              "**/database/src/**",
              "!@hangar/shared"
            ],
            "message": "Don't import across packages; Move to @hangar/shared if necessary"
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/tests/**/*"],
      "rules": { "@typescript-eslint/no-explicit-any": "off" }
    }
  ]
}
